<div class="modal-price">
  <button class="modal-close-btn"></button>
  <h2 class="modal-price__title">Ціни на номер</h2>
  <p class="modal-price__subtitle">Двомісний люкс</p>
  <p class="modal-price__text">Категорія номеру</p>
  <form class="form-price">
    <select class="form-price__select" name="amount" id="amount-night">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <label class="form-price__label" for="amount-night">Кількість ночей</label>
    <input class="form-price__currency" type="number" id="currency" />
    <label class="form-price__label" for="currency">грн</label>
  </form>
</div>
