<header class="header">
  <div class="container">
    <a href="./index.html" class="logo">Mimino</a>
    <nav class="nav">
      <a href="./restourant.html" class="nav__link">Ресторан</a>
      <a href="tel:0955559533" class="nav__contacts">
        <svg class="nav_contacts-icon">
          <use href="#"></use>
        </svg>
        095 555 95 33</a
      >
      <a href="./hotel.html" class="nav__link">Готель</a>
      <div class="nav__contacts-wrapper">
        <a href="tel:0668491089" class="nav__contacts">
          <svg class="nav_contacts-icon">
            <use href="#"></use>
          </svg>
          066 849 10 89</a
        >
        <a href="tel:0672758540" class="nav__contacts">067 275 85 40</a>
      </div>
    </nav>
  </div>
</header>
