<section class="hero">
  <h1 class="hero-title">MIMIHO</h1>
  <h2 class="hero-subtitle">Готель</h2>
  <address class="address">
    <a href="" class="address-link">
      <svg class="address-icon">
        <use href=""></use>
      </svg>
      <span class="address-text"
        >Україна, м. Полтава, вул. Маршала Бірюзова, 15</span
      >
    </a>
  </address>
  <ul class="hero-list">
    <li class="hero-item">
      <button class="hero-btn">Забронювати столик</button>
    </li>
    <li class="hero-item">
      <button class="hero-btn"></button>Переглянути меню
    </li>
  </ul>
  <ul class="social-links">
    <li class="social-links__item">
      <a href="#" class="social-links__link">
        <svg width="24" height="24" class="social-links__icon">
          <use href="#"></use>
        </svg>
      </a>
    </li>
    <li class="social-links__item">
      <a href="#" class="social-links__link">
        <svg width="24" height="24" class="social-links__icon">
          <use href="#"></use>
        </svg>
      </a>
    </li>
    <li class="social-links__item">
      <a href="#" class="social-links__link">
        <svg width="24" height="24" class="social-links__icon">
          <use href="#"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
