/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
}

.nav{
  display: flex;
  gap: 80px;
}

.title{
  font-size: 80px;
}

.btn-back{
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 5px;
  background-color: antiquewhite;
}

.page2{
  background-color: aquamarine;
}
.page3{
  background-color: gold;
}
.page4{
  background-color: violet;
}