.modal-price {
    position: relative;
    padding: 60px;
    width: 712px;
    height: 489px;
    background-color: #FFFDEE;
}

.modal-close-btn::before{
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1.5px;
    transform: rotate(45deg);
    background-color: #808080;
}

.modal-close-btn::after{
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1.5px;
    transform: rotate(-45deg);
    background-color: #808080;
}

.modal-close-btn {
    position: absolute;
    right: 19px;
    top: 19px;
    background-color: transparent;
    border: transparent;
    width: 18px;
    height: 18px;

        &:hover &::before,
        &:hover &::after,
        &:focus &::before,
        &:focus &::after{
        background-color: red;

    }
}


.modal-price__title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.15;
    color: #000000;
}

.modal-price__subtitle {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #808080;
}

.modal-price__text {}

.form-price {}

.form-price__select {}

.form-price__label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #C79002;
}

.form-price__currency {}