table{
  background-color: aqua;
}

.tr {
  background-color: aqua;
}
td {
  width: 150px;
  height: 80px;
  display: block;
  /* padding: 10px 30px; */
}

.block {
  position: relative;
  top: 50px;
  bottom: 50px;
  height: 400px;
  background-color: bisque;
}