<section class="about">
  <h2 class="about-title">Amet minim mollit non</h2>
  <p class="logo-section">MIMIHO</p>
  <p class="about-main-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <img src="" alt="" class="about-img" />
  <p class="about-secondary-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <img src="" alt="" class="about-img" />
  <div class="slider-wrapper">
    <ul class="about-list">
      <li class="slider-item"><img src="" alt="" class="slider-img" /></li>
      <li class="slider-item"><img src="" alt="" class="slider-img" /></li>
      <li class="slider-item"><img src="" alt="" class="slider-img" /></li>
      <li class="slider-item"><img src="" alt="" class="slider-img" /></li>
    </ul>
    <button class="btn-to-left" type="button">
      <svg class="arrow-to-left">
        <use href=""></use>
      </svg>
    </button>
    <button class="btn-to-left" type="button">
      <svg class="arrow-to-right">
        <use href=""></use>
      </svg>
    </button>
  </div>
</section>
