<secction class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">MIMIHO</h1>
    <h2 class="hero-subtitle">Ресторанно-готельний комплекс</h2>
    <p class="hero-text">СМАК ЖИТТЯ 24/7</p>
    <address>
      <a href="">
        <svg>
          <use href=""></use>
        </svg>
        Україна, м. Полтава, вул. Маршала Бірюзова, 15
      </a>
    </address>
    <ul class="hero-btn-list">
      <li class="hero-btn-item"><button class="hero-btn" type="button">Забронювати столик</button></li>
      <li class="hero-btn-item"><button class="hero-btn" type="button">Забронювати номер</button></li>
    </ul>
  </div>
</secction>
