<section class="hero">
  <!-- <div class="container hero-container"> -->
  <h1 class="hero-title">MIMIH<span class="remove-ls">O</span></h1>
  <h2 class="hero-subtitle">Ресторанно-готельний комплекс</h2>
  <p class="hero-text">СМАК ЖИТТЯ 24/7</p>
  <address class="address">
    <a href="" class="address-link">
      <svg class="address-icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-location"></use>
      </svg>
      <span class="address-text">
        Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15
      </span>
    </a>
  </address>
  <ul class="hero-btn-list">
    <li class="hero-btn-item">
      <button class="hero-btn" type="button">Забронювати столик</button>
    </li>
    <li class="hero-btn-item">
      <button class="hero-btn" type="button">Забронювати номер</button>
    </li>
  </ul>
  <ul class="social-list">
    <li class="social-item">
      <a href="" class="social-link">
        <svg class="social-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="social-item">
      <a href="" class="social-link">
        <svg class="social-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social-item">
      <a href="" class="social-link">
        <svg class="social-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
  <!-- </div> -->
</section>
